body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.image-gallery {
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

    .image-gallery .col-md-12 {
        padding-left: 0;
    }

    .image-gallery .col-md-4 {
        padding-left: 0;
    }

.field-validation-error {
    color: red;
    font-size: medium;
}

    .input-validation-error{
        border: 2px solid red;
    }

.table .table-img{
    max-height:100px;
    max-width: 100px;
}

.site-images img{
    max-width:375px;
    max-height:375px;
}

.site-images {
    width: 375px;
    height: 375px;
    border: 0.1px solid green;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .site-images {
        width: 33.33%;
        height: 250px;

    }
}
@media (max-width: 992px) {
    .site-images {
        height: 250px;
        padding:20px;
        border: none;
    }
    .site-images a{
        float:right;
    }
}

.modal-content{
    background-color: aliceblue;
}

.panel-body{
    font-size:large;
}
.panel-title{
    font-size: x-large;
}