@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pramod Kumar<br />
    Toronto, ON, Canada<br />
    <abbr title="Phone">P:</abbr>
    647.906.2820
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:pramod6507@gmail.com">pramod6507@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/pramod-kumar-pottabathula-abb64429/">Pramod Kumar</a>
</address>