@model XCentium.Models.Site
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Page Data Using HttpAgilityPack</h1>

    @using (Html.BeginForm("PageData", "Home"))
    {
        <div class="form-group">

            <label class="lead">Please enter a site address below to get image and word count data...</label>
            @*@Html.LabelFor(m => m.Url, new { @class = "lead" })*@
            @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.Url)

        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit  &raquo;</button>
        <p class="text-warning">@ViewBag.Error</p>
    }

</div>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}