@model XCentium.Models.PageDataViewModel
@{
    ViewBag.Title = "PageData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PageData</h2>
<table>
    <thead>
        <tr>
            <th>Word</th>
            <th>Frequency</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var frequency in Model.FrequencyMap)
            {
            <tr>
                <td>@frequency.Key</td>
                <td>@frequency.Value</td>
            </tr>
            }
    </tbody>
</table>

@{ 
    foreach (var attribute in Model.ImageAttributeList)
    {

    }
}

